
@media (max-width: 992px) {
    .profile-card {
        padding: 60px 40px; 
        width: 90%;
    }
    .name {
        font-size: 2rem; 
    }
}


@media (max-width: 768px) {
    header {
        padding: 10px 0;
    }
    
    nav ul {
        gap: 10px;
    }
    
    nav ul li {
        margin: 0 10px;
    }

    nav ul li a {
        font-size: 11px; 
        letter-spacing: 0.5px;
    }

    .profile-card {
        padding: 40px 20px;
        border-radius: 25px;
    }

    .name {
        font-size: 1.6rem;
        letter-spacing: 2px;
    }

    #about {
        padding: 60px 5%;
    }

    #about h2 {
        font-size: 1.8rem;
    }

    .about-info-container {
        grid-template-columns: 1fr; 
    }
}


@media (max-width: 480px) {
    .name {
        font-size: 1.4rem;
    }
    
    .location-mini-card {
        padding: 8px 15px;
    }

    .social-links {
        gap: 15px;
    }
    
    .social-links img {
        width: 25px; 
    }
}
